@import './variables.scss';

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background-color:$body-bg;
  color: $text-color;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
